<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Api Google Maps</title>
</head>
<body>
  
  <header >
    
    <h1>Api Google Maps</h1>
  </header>

  <main>
    <div id="content-map">
      <div id="map"></div>
    </div>
    <p>{{markers|json}}</p>
  </main>

  <footer >

    <p>Topicos</p>
    <p>2023</p>
    <!-- Aquí va el contenido del footer -->
  </footer>

</body>
</html>